<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yzq.weibo.mapper.UserMapper" >


    <select id="findById" resultType="user" parameterType="int">
        SELECT * FROM user WHERE id = #{id}
    </select>

    <select id="checkUserLogin" parameterType="com.yzq.weibo.model.User" resultType="user">
        select * from user where username=#{username} and password=#{password}
    </select>

    <select id="descriptionById" parameterType="int" resultType="description">
        select * from user_description where user_id=#{value}
    </select>

    <insert id="insertUser" parameterType="com.yzq.weibo.model.User">

        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            select LAST_INSERT_ID()
        </selectKey>

        insert into user(username,password) value(#{username},#{password})
    </insert>

    <insert id="insertDescription" parameterType="com.yzq.weibo.model.Description">
        insert into user_description(user_id,nickname) value(#{user_id},#{nickname});
    </insert>

    <select id="checkUser" parameterType="com.yzq.weibo.model.User" resultType="user">
        select * from user where username=#{username}
    </select>

    <insert id="writeWeibo" parameterType="com.yzq.weibo.model.Weibo">
        insert into
        weibo(user_id,datetime,content,image)
        value(#{user_id},#{datetime},#{content},#{image})
    </insert>
</mapper>